<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_NotificationService" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:19576/Services/NotificationService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_NotificationService"
            contract="MapReduceServices.NotificationService" name="BasicHttpBinding_NotificationService" />
      </client>
    </system.serviceModel>
</configuration>
